<div layout="row">
	<div flex="30" >
		<md-toolbar md-scroll-shrink ng-if="true">
			<div class="md-toolbar-tools">
				<h3>
					<span>History</span>
				</h3>
			</div>
		</md-toolbar>
		<md-content flex>
			<div class="content-no-request" ng-if="!checkedRequests">
				<span>
					No requests
				</span>
			</div>
			<div ng-if="checkedRequests" >
				<md-card>
					<md-card-content>
						<md-list ng-cloak>
							<md-list-item  class="" ng-click="showRequest(data, $event)" ng-repeat="data in requests">
								<div layout="row" class="content-headers-history">
									<md-tooltip>
							          	{{ data.url }}
							        </md-tooltip>
									<div flex="20">{{ data.method }}</div> 
									<div flex>{{ data.protocol }}//{{ data.hostname }}{{ data.url }}</div>										
								</div>
							</md-list-item>				
						</md-list>						
					</md-card-content>
				</md-card>
			</div>
		</md-content>
	</div>

	<div flex="70">
		<md-toolbar md-scroll-shrink ng-if="true">
			<div class="md-toolbar-tools">
				<h3>
					<span>Detail</span>
				</h3>
			</div>
		</md-toolbar>
		<md-content flex>
			<div class="content-no-request" ng-if="!checked">
				<span>
				  	No request seleted
				</span>
			</div>
			<div ng-if="checked" >
				<div layout="row" layout-wrap>
					<div flex="100">
						<md-content class="md-padding">
							<md-card>
								<md-card-content>
									<div class="content-headers">
										<div class="method-special">{{ data.method }}</div> 
										<div>{{ data.protocol }}//{{ data.hostname }}{{ data.url }}</div>										
									</div>
								</md-card-content>
							</md-card>
						</md-content>
					</div>
					<div flex="100">
						<div ng-cloak>
							<md-content>
								<md-card>
									<md-card-content>
										<md-tabs md-dynamic-height md-border-bottom>
											<md-tab label="Body">
												<md-content class="md-padding">
													<pre class="jsonBox">
														<code class="highlight"	>
														</code>
													</pre>
												</md-content>
											</md-tab>
											<md-tab label="Headers">
												<md-content class="md-padding">
													<div class="content-headers" ng-repeat="head in headers">
														<div> {{ head.key }} </div>
														<div> {{ head.value }} </div>
													</div>
												</md-content>
											</md-tab>
										</md-tabs>
									</md-card-content>
								</md-card>
							</md-content>
						</div>
					</div>
				</div>
			</div>
		</md-content>
	</div>
</div>




